@import 'styles/theme.scss';
$main-bg: $ui-04;
$link: $brand-01;
$link-hover: $brand-02;
$text: $text-01;
$icon-color: $text-02;
$icon-hover-color: $brand-01;

$sidebar-padding: 0.5em;

$sidebar-bg: $ui-03;
$sidebar-link-bg: $ui-03;
$sidebar-link-bg-hover: $ui-02;

//$select-bg: rgba(255, 255, 255, 0.1);
$select-bg: #374952;
$select-outline: $brand-01;
$option-color: $ui-03;

$overlay-bg: rgba(32, 52, 62, 0.75);

$table-header-bg: $ui-01;
$table-odd-row-bg: $ui-03;
$table-even-row-bg: $ui-01;
$table-header-border-bottom: 1px solid $brand-01;
$table-border-color: $ui-05;
$empty-star-color: $text-01;
$full-star-color: $support-03;
