@import 'styles/theme.scss';
$main-bg: $ui-04;
$link: $brand-01;
$link-hover: $brand-02;
$text: $text-01;
$icon-color: $text-02;
$icon-hover-color: $brand-01;

$sidebar-padding: 0.5em;

$sidebar-bg: $ui-03;
$sidebar-link-bg: $ui-03;
$sidebar-link-bg-hover: $ui-02;

$select-bg: rgba(255, 255, 255, 0.1);
$option-color: $ui-03;

$overlay-bg: rgba(32, 52, 62, 0.75);
